@{
    ViewBag.Title = "Careers for Personality";
}

<!--================================= Careers for personality============================== -->

<link href="~/Content/css/Assessment/assessment.css?v=@ViewBag.AppVersion" rel="Stylesheet" />
<link href="~/Content/css/Analytics/reportcard.css?v=@ViewBag.AppVersion" rel="Stylesheet" />
<link href="~/Content/css/personality/personality.css?v=@ViewBag.AppVersion" rel="stylesheet" />
<link href="~/Content/css/Skilltest/testResults.css?v=@ViewBag.AppVersion" rel="stylesheet" />
<script src="~/Scripts/Thesaurus/professionsKeywordsAndAlternatetitles.js?v=@ViewBag.AppVersion"></script>
<script src="~/Scripts/Thesaurus/ctProfessions.js?v=@ViewBag.AppVersion"></script>
<script src='/Scripts/Thesaurus/ctProfessionsCodes.js?v=@ViewBag.AppVersion'></script>
<script src="~/Scripts/Thesaurus/testattributes.js?v=@ViewBag.AppVersion"></script>
<script src="@Url.Content("~/Scripts/Personality/" + ViewBag.Trait + ".js?v=" + ViewBag.AppVersion)"></script>
<script src='/Scripts/Jobs/gettime.js?v=@ViewBag.AppVersion'></script>

<div class="pageContainer whiteBgPage" id="careersForPersonality">
    <div class="container">
        @*<div class="col-lg-12 col-md-12">*@
            <h1></h1>
            <div class="row">
                <div class="reportDiv ">
                    <div class="aboutYouReport">
                        <div class="traitsDescription">
                        </div>
                    </div>
                </div>
            </div>
            <div class="displayCareers row">
                <h2>Matching Jobs</h2>
                <div class="careersList">
                </div>
                <div id="main"></div>
                <!--Share and Comment Row-->
                <div class="row socialIconsHolder">
                    <!--Share and Comment Row-->
                    <div class="col-lg-12 shareDiv coloredSocialIcons text-left">
                        <ul class="social-icons">
                            <li class="share twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="share facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            @*<li class="share linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>*@
                            <li class="share gplus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            @*<li class="mail"><a href="#"><i class="icon-mail"></i></a></li>*@
                        </ul><!--/ .social-icons-->
                    </div>
                </div>
            </div>

        @*</div>*@
        @*<div class="col-lg-3 col-md-3"></div>
        </div>*@
</div>

<script>
    var dimension = '@ViewBag.Dimension';
    var trait = '@ViewBag.Trait';
    var matchingCareers = [];
    var interests = [];
    var interestsStar = [];
    var filtervalue = '';
    var userzip = getCookie('zip') ? getCookie('zip') : getCookie('ipzip') != '*' ? getCookie('ipzip') : '10001';
    var matchedProfessions = [];
    var gotJobs = false;
    var isiPad = "@ViewBag.IsiPad".toLowerCase() == 'true' ? true : false;

    function document_ready() {
        $('h1').text(careerheading);
        $('.traitsDescription').html('<p class="generalP">' + desc + '</p>');

        shareLinks();
        matchCareersToTrait();
    }

    function matchCareersToTrait() {
        matchedProfessions = [];
        for (var i = 0; i < professions.length; i++) {
            var item = professions[i];
            //var interestMatch = true;
            //if (interests.length != 0) {
            //    for (var k = 0; k < interests.length; k++) {
            //        if (item[interests[k]] != 1) {
            //            interestMatch = false;
            //        }
            //    }
            //}
            if (item[dimension] == trait) {
                item.aka = professionsinfo[i].alttitles;
                matchedProfessions.push(item);
            }
        }
        //renderHtml();
        popularityResults();
    }


    function popularityResults(el) {
        var popular = matchedProfessions.map(function (x) { x.fieldPopularity = matchedProfessions.filter(function (y) { return y.field == x.field }).map(function (z) { return z.popularity; }).reduce(function (a, b) { return a + b }); return x; });
        //popular.sort(sort_by('fieldPopularity', { name: 'popularity', primer: null, reverse: false })).reverse();
        matchedProfessions = popular;
        var currentField;
        var html = '';
        //var html = '<div class="header">Your job matches:</div>';
        for (var i = 0; i < popular.length; i++) {
            if (currentField != popular[i].field) {
                html += currentField != null ? '<div class="subfooter"><a target="_blank" href="/Jobs?q=' + encodeURIComponent(ctIndeed[currentField]).replace(/%20/g, '+') + '&loc=' + userzip + '&r=&salary=&st=&jt="><span class="linkText">View all jobs in ' + ctField[currentField] + '</span><i class="fa fa-angle-right pull-right"></i></a></div></div>' : '</div>';
                currentField = popular[i].field;
                html += '<div class="fieldWrapper notViewed" data-offset="250"><div class="subheader">in ' + ctField[currentField] + '</div>';
                //html += '<div class="fieldWrapper"><div class="subheader">in Food Service</div>';
            }
            html += '<div class="profession"><a target="_blank" class="btn btn-success viewJobsBtn" href="/Jobs?q=' + popular[i].title.replace(/[^a-zA-Z]+/g, '+') + '&loc=' + userzip + '&salary=&st=&jt=&r=">View jobs <span class="badge pull-right" id="jobsCount' + i + '">' + (popular[i].jobsNumber ? popular[i].jobsNumber : '') + '</span></a><span class="proTitle">' + popular[i].title + '</span><span id="indeed' + i + '" class="indeedCount">' + (popular[i].output ? popular[i].output : '') + '</span></div>';
        }
        html += '<div class="subfooter"><a target="_blank" href="/Jobs?q=' + encodeURIComponent(ctIndeed[currentField]).replace(/%20/g, '+') + '&loc=' + userzip + '&r=&salary=&st=&jt="><span class="linkText">View all jobs in ' + ctMinor[currentField] + '</span><i class="fa fa-angle-right pull-right"></i></a></div></div>';
        $('#main').html(html);
        $('.displayBy').removeClass('active');
        $(el).addClass('active');
        $('.viewJobsBtn').click(function () {
            setCookie('clr', '1', 1);
        });
        if (!gotJobs) {
            getJobs(popular, false);
        }
        //$('.viewJobsBtn').each(function () {
        //    $(this).find('.badge').text($(this).closest('.profession').find('.jobsNumber').text());
        //});

        animateResults();
        //showResults();
    }


    function getJobs(professionsForIndeed, salary) {
        for (var i = 0; i < professionsForIndeed.length; i++) {
            getIndeed(i, professionsForIndeed[i].title.replace(/[^a-zA-Z]+/g, '+'), salary ? ctSalaryRange[getSalaryRange(professionsForIndeed[i].salary)].min : false);
        }
        gotJobs = true;
    }

    function getIndeed(id, q, salary, extendedRange) {
        $.ajax({
            url: appserverurl + "/Jobs/getindeedjobs",
            type: "POST",
            dataType: "json",
            data: {
                p: q,
                l: userzip,
                limit: "25",
                r: extendedRange ? extendedRange : '25',
                s: 'date',
                salary: salary ? salary : ''
            }
        }).success(function (response) {
            if (response.results) {
                var today = response.results.results.filter(function (x) { return getTimeFrame(x.date) < 1; });
                var week = response.results.results.filter(function (x) { return getTimeFrame(x.date) < 7; });
                var month = response.results.results.filter(function (x) { return getTimeFrame(x.date) < 30; });
                var threeMonths = response.results.results.filter(function (x) { return getTimeFrame(x.date) < 90; });
                var output = '';
                var jobsNumber = '';
                if (today.length > 0) {
                    output = today.length >= 25 ? '<span class="jobsNumber">25+</span><span class="red"> new</span> jobs posted today' : '<span class="jobsNumber">' + today.length + '</span><span class="red"> new</span> jobs posted today';
                    jobsNumber = today.length >= 25 ? '25+' : today.length;
                } else if (week.length > 0) {
                    output = week.length >= 25 ? '<span class="jobsNumber">25+</span><span class="red"> new</span> jobs posted in past week' : '<span class="jobsNumber">' + week.length + '</span><span class="red"> new</span> jobs posted in past week';
                    jobsNumber = week.length >= 25 ? '25+' : week.length;
                } else if (month.length > 0) {
                    output = month.length >= 25 ? '<span class="jobsNumber">25+ </span><span class="red"> new</span> jobs posted in last 30 days<span class="jobsNumber">' : '<span class="jobsNumber">' + month.length + '</span><span class="red"> new</span> jobs posted in last 30 days';
                    jobsNumber = month.length >= 25 ? '25+' : month.length;
                } else if (threeMonths.length > 0) {
                    output = threeMonths.length >= 25 ? '<span class="jobsNumber">25+ </span><span class="red"> new</span> jobs posted in last 90 days<span class="jobsNumber">' : '<span class="jobsNumber">' + threeMonths.length + '</span><span class="red"> new</span> jobs posted in last 90 days';
                    jobsNumber = threeMonths.length >= 25 ? '25+' : threeMonths.length;
                } else if (!extendedRange) {
                    getIndeed(id, q, salary, 50);
                } else if (extendedRange && extendedRange < 500) {
                    getIndeed(id, q, salary, extendSearch(extendedRange));
                }
                output += (output != '' && extendedRange) ? ' in ' + extendedRange + ' miles radius' : '';
                matchedProfessions[id].output = output;
                matchedProfessions[id].jobsNumber = jobsNumber;
                $('#indeed' + id).html(output);
                $('#jobsCount' + id).html(jobsNumber);
                if (extendedRange) {
                    var link = $('#indeed' + id).siblings('a');
                    $(link).attr('href', $(link).attr('href').replace(/\&r\=\d*/, '&r=' + extendedRange));
                }
                //$('.viewJobsBtn').each(function () {
                //    $(this).find('.badge').text($(this).closest('.profession').find('.jobsNumber').text());
                //});
            }
        }).error(function (error) {
            console.log(error);
        });
    }

    function getTimeFrame(date) {
        var now = new Date().getTime();
        return (now - getTimestampFromIndeedTime(date)) / 86400000;
    }

    function extendSearch(extendedRange) {
        switch (extendedRange) {
            case 50:
                return 100;
            case 100:
                return 250;
            case 250:
                return 500;
            default:
                return null;
        }
    }

    function animateResults() {
        if ($(window).width() > 767) {
            $('.fieldWrapper.notViewed').each(function (i, elem) {
                var top_of_object = $(elem).position().top;
                var bottom_of_window = $(window).scrollTop() + $(window).height();
                /* If the object is completely visible in the window, fade it it */
                if (bottom_of_window > top_of_object) {
                    // $("this").velocity("transition.slideUpIn").velocity({ opacity: 1 }, 0);
                    $(elem).removeClass('notViewed').addClass('viewed');
                }
            })

            $(window).scroll(function () {
                $('.fieldWrapper.notViewed').each(function (i, elem) {
                    var top_of_object = $(elem).position().top;
                    var bottom_of_window = $(window).scrollTop() + $(window).height();
                    /* If the object is completely visible in the window, fade it it */
                    if (bottom_of_window > top_of_object) {
                        // $(elem).velocity("transition.slideUpIn").velocity({ opacity: 1 }, 0);
                        $(elem).removeClass('notViewed').addClass('viewed');
                    }
                })
            })
            if (isiPad == true) {
                $('.fieldWrapper').css('opacity', '1');
            }
        }
        else { //less than 767
            $('.fieldWrapper').css('opacity', '1');
        }
    }


    function renderHtml(sortby) {
        var html = '';
        if (matchingCareers.length != 0) {
            if (sortby == 'popularity') {
                matchingCareers.sort(sortbypopularity);
            } else {
                matchingCareers.sort(sortbysalary);
            }
            for (var i = 0; i < matchingCareers.length; i++) {
                var item = matchingCareers[i];
                var akaTitle = '';
                if (filtervalue != '') {
                    var reg = new RegExp(filtervalue, 'i');
                    if (reg.test(item.title)) {
                        html += '<a class="career" href="/' + matchingCareers[i].title.replace(/[^a-zA-Z0-9]+/g, '-') + '"><span class="professionName">' + matchingCareers[i].title.replace(reg, '<span style="background-color:rgb(239, 51, 51);">' + filtervalue + '</span>') + '</span><span class="professionSalary">' + Math.round(matchingCareers[i].salary / 1000) + 'K per year' + '</span><i class="fa fa-angle-right pull-right arrowRight"></i></a>';
                    } else {
                        if (reg.test(item.aka)) {
                            for (var aka = 0; aka < item.aka.length; aka++) {
                                if (reg.test(item.aka[aka])) {
                                    akaTitle = item.aka[aka];
                                    break;
                                }
                            }
                            html += '<a class="career" href="/' + matchingCareers[i].title.replace(/[^a-zA-Z0-9]+/g, '-') + '"><span class="professionName">' + matchingCareers[i].title + '<span class="professionAKA"> (aka ' + akaTitle.replace(reg, '<span style="background-color:rgb(239, 51, 51);">' + filtervalue + '</span>') + ')</span></span><span class="professionSalary">' + Math.round(matchingCareers[i].salary / 1000) + 'K per year' + '</span><i class="fa fa-angle-right pull-right arrowRight"></i></a>';
                        }
                    }
                } else {
                    html += '<a class="career" href="/' + matchingCareers[i].title.replace(/[^a-zA-Z0-9]+/g, '-') + '"><span class="professionName">' + matchingCareers[i].title + '</span><span class="professionSalary">' + Math.round(matchingCareers[i].salary / 1000) + 'K per year' + '</span><i class="fa fa-angle-right pull-right arrowRight"></i></a>';
                }

            }
        } else {
            html += '<p class="noResultsError">There are no results matching this combination. Please uncheck some of the interests. </p>';
        }
        $('.careersList').html(html);
    }





    function sortbysalary(a, b) { if (a.salary > b.salary) return -1; if (a.salary < b.salary) return 1; return 0; }
    function sortbypopularity(a, b) { if (a.popularity > b.popularity) return -1; if (a.popularity < b.popularity) return 1; return 0; }

    function applyFilter(value) {
        filtervalue = value;
        matchCareersToTrait(value);
    }

    function shareLinks() {
        var linkURL = document.URL;
        var shareMessage = 'Matching careers for my personality';
        $('.share.twitter a').attr('href', 'https://twitter.com/intent/tweet?text=' + linkURL + '&url=' + 'http://CareerThesaurus.com/' + '&via=CareerThesaurus.com');
        $('.share.facebook a').attr('href', 'https://www.facebook.com/dialog/feed?app_id=153111284881428&link=' + linkURL + '&redirect_uri=https://facebook.com/&name=' + shareMessage + '&actions=%5B%7B"name"%3A"Find%20your%20career%20at%20Care­e­r­T­h­e­s­a­urus.com"%2C"link"%3A"http://CareerThesaurus.com%2F"%7D%5D');
        $('.share.linkedin a').attr('href', 'https://www.linkedin.com/shareArticle?summary=message+here&title=title&mini=true&url=' + linkURL + '&source=CareerThesaurus.com');
        $('.share.gplus a').attr('href', 'https://plus.google.com/share?url=' + linkURL.replace(/\,/g, '').replace(/\s/g, '_'));
    }

</script>
