@{
    ViewBag.Title = "Elements";
}

<h1>Elements</h1>

<div class="pageContainer">

    <h1>This is Heading 1</h1>

    <h2>This is Heading 2</h2>

    <h3>This is Heading 3</h3>

    <h2>Keywords</h2>
    
    <div id="keywordsDiv" class="row">
            <div class="col-md-12">
                <a>Responsibility</a>
                <a>Responsible</a>
                <a>Retail</a> 
                <a>Role</a> 
                <a>Route</a> 
                <a>Safe</a> 
                <a>Safety</a>
                <a>Sales</a> 
                <a>Scanning</a> 
                <a>Schedule</a> 
                <a>School</a> 
                <a>Searching</a>
                </br>
                <a>Seeks</a>
                <a>Sense</a> 
                <a>Responsibility</a>
                <a>Responsible</a>
                <a>Retail</a> 
                <a>Role</a> 
                <a>Route</a> 
                <a>Safe</a> 
                <a>Safety</a>
                <a>Sales</a> 
                <a>Scanning</a> 
                <a>Schedule</a> 
                <a>School</a> 
                </br>
                <a>Seeks</a>
                <a>Sense</a> 
                <a>Responsibility</a>
                <a>Responsible</a>
                <a>Retail</a> 
                <a>Role</a> 
                <a>Route</a> 
                <a>Safe</a> 
                <a>Safety</a>
                <a>Sales</a> 
                <a>Scanning</a> 
            </div>
         </div><!--end of keywordsDiv-->



</div>

<script>
    function document_ready() {

    }
</script>
