@{
    ViewBag.Title = "SkillCow";
}
    <!-- Front page slider
    ================================================== -->
   
     <div id="myCarousel" class="carousel slide" data-ride="carousel">

       <!--div that holds slider images-->
        <div id="sliderContainer"></div>
        <div class="sliderOverlay"></div>
    </div>

    <!-- Find a job section.
        ================================================== -->
    
        <div class="section" id="findjobSection">
            <div class="container">
            <h2>Find a job</h2>
            <div class="row">
               <form id="findjobForm">              
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control input-lg" id="jobKeywordText" placeholder="Enter Keyword">
                    </div>

                    <div class="col-md-4 col-sm-3">
                        <input type="text" class="form-control input-lg" id="zipcodeText" placeholder="Zip Code">
                    </div>

                    <div class="col-md-2 col-sm-3">
                        <button type="submit" id="jobsearchButton" class="btn btn-success btn-lg">Search</button>
                    </div>
                </form>
        </div><!--end of row 1-->
        <h3 class="text-center">Or Click Any Keyword To Search</h3>
        <div id="keywordsDiv" class="row">
            <div class="col-md-12">
                <a>Responsibility</a>
                <a>Responsible</a>
                <a>Retail</a> 
                <a>Role</a> 
                <a>Route</a> 
                <a>Safe</a> 
                <a>Safety</a>
                <a>Sales</a> 
                <a>Scanning</a> 
                <a>Schedule</a> 
                <a>School</a> 
                <a>Searching</a>
                </br>
                <a>Seeks</a>
                <a>Sense</a> 
                <a>Responsibility</a>
                <a>Responsible</a>
                <a>Retail</a> 
                <a>Role</a> 
                <a>Route</a> 
                <a>Safe</a> 
                <a>Safety</a>
                <a>Sales</a> 
                <a>Scanning</a> 
                <a>Schedule</a> 
                <a>School</a> 
                </br>
                <a>Seeks</a>
                <a>Sense</a> 
                <a>Responsibility</a>
                <a>Responsible</a>
                <a>Retail</a> 
                <a>Role</a> 
                <a>Route</a> 
                <a>Safe</a> 
                <a>Safety</a>
                <a>Sales</a> 
                <a>Scanning</a> 
            </div>
         </div><!--end of row 2-->
       </div><!--end of section-->
   </div><!--container-->

    <!-- Counter section.
    ================================================== -->
 
 		<div id="counterDiv" class="section parallax parallax-bg-2">

			<div class="full-bg-image"></div>
			<div class="parallax-overlay"></div>

			<div class="container">

				<div class="row">
					
					<div class="col-xs-12">
						
							<h2 class="text-center">Did You Know That?</h2>
						
					</div>
					
				</div><!--/ .row-->

				<div class="row">
					
					<div class="col-xs-12">
						
						<div class="counter-box">

							<div data-from="0" data-to="478" data-speed="1300" class="counter opacity">
								<span class="count"></span>
								<h4 class="details">People Took SkillCow Test</h4>
							</div><!--/ .counter-->	


							<div data-from="0" data-to="28" data-speed="1300" class="counter opacity">
								<span class="count"></span>
								<h4 class="details">People Found New Jobs</h4>
							</div><!--/ .counter-->	

							<div data-from="0" data-to="759" data-speed="1300" class="counter opacity">
								<span class="count"></span>
								<h4 class="details">Changed Careers</h4>
							</div><!--/ .counter-->		

						</div><!--/ .counter-box-->	
						
					</div>

				</div><!--/ .row-->

			</div><!--/ .container-->

		</div><!--/ .section-->

<!-- Careers section.
================================================== -->

    <div class="section" id="careersSection">
        
        <h2 class="text-center">Browse Careers</h2>
        <div class="row">
          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">           
            <a href="#"><img class="img-responsive" src="../../Content/images/careers/business.jpg"  alt="Business Image"/></a>
            <div class="imageOverlay">
                <h3>Business</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
          </div>
        </div> 

          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/Computersciences.jpg"  alt="Computer Science Image"/>
             <div class="imageOverlay">
                <h3>Computer Sciences</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
          </div>

          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/Visualarts.jpg"  alt="Visual arts Image"/>
              <div class="imageOverlay">
                <h3>Visual Arts</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>

          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/Healthsciences.jpg"  alt="Health Sciences Image"/>
             <div class="imageOverlay">
                <h3>Health Sciences</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>

          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/lifesciences.jpg"  alt="Life Science Image"/>
             <div class="imageOverlay">
                <h3>Life Sciences</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>

          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/Performingarts.jpg"  alt="Performing Arts Image"/>
             <div class="imageOverlay">
                <h3>Performing Arts</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>

          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/Physics.jpg"  alt="Physics Image"/>
             <div class="imageOverlay">
                <h3>Physics</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>
          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/Mathematics.jpg"  alt="Mathematics Image"/>
             <div class="imageOverlay">
                <h3>Mathematics</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>

          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/Chemistry.jpg"  alt="Chemistry Image"/>
             <div class="imageOverlay">
                <h3>Chemistry</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>
          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/Law.jpg"  alt="Law Image"/>
             <div class="imageOverlay">
                <h3>Law</h3>
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>
          <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
             <img class="img-responsive" src="../../Content/images/careers/SpecialTraining.jpg"  alt="Special Training Image"/>
             <div class="imageOverlay">
                <h3>Special Training</h3>        
                <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
          </div>

         
          <a href="#">     
              <div class="imageHolder col-lg-2 col-md-3 col-sm-4 col-xs-6">
                  <img class="img-responsive" src="../../Content/images/careers/Computersciences.jpg"  alt="View More"/>
                    <div id="viewmoreOverlay">
                        <h3>View All Categories</h3>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
              </div>
          </a>

        </div>
    </div>



<!-- Blog section.
================================================== -->
   
    <div class="section" id="blogSection">
        <div class="container">
           <div class="row">
               <h2 class="text-center">Latest News From Our Blog</h2>
           </div>
           <div class="row">
               <div class="col-lg-4">
                    <img class="img-circle" src="../../Content/images/cart1.jpg"  alt="Computer Science Image"/>
                    <h2>Make Your Education Plan</h2>
                    <p>Making decisions about colleges and careers can seem overwhelming, especially when you are young. If you are feeling unprepared, know that you are not alone. We're here to help.</p>
                    <p><a class="btn btn-success btn-lg" href="#" role="button">Read More &raquo;</a></p>
               </div>

               <div class="col-lg-4">
                    <img class="img-circle" src="../../Content/images/cart2.jpg"  alt="Computer Science Image"/>
                    <h2>Finding the Right Career</h2>
                    <p>The first step in considering a career change is to think carefully about what really drives you. You might find it hard to get past thinking about “what pays the most”.</p>
                    <p><a class="btn btn-success btn-lg" href="#" role="button">Read More &raquo;</a></p>
               </div>

               <div class="col-lg-4">
                    <img class="img-circle" src="../../Content/images/cart3.jpg"  alt="Computer Science Image"/>
                    <h2>Overcoming obstacles</h2>
                    <p>It’s always challenging to consider a huge change in your life, and there may be many reasons why you think changing careers is not possible. Here are some common obstacles with tips.</p>
                    <p><a class="btn btn-success btn-lg" href="#" role="button">Read More &raquo;</a></p>
               </div>
           </div><!--row-->
    </div> <!--section-->
</div><!--container-->

        <!-- Search Section
================================================== -->

<div class="section parallax parallax-bg-1" id="searchSection">
    <div class="full-bg-image"></div>
        <div class="container">
            <div class="row">
                 <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                        <input type="text" class="form-control input-lg" placeholder="Search Our Site For Anything">
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg">Search</button>
                    </div>
            </div>
        </div>
</div>


    <script>	

    function document_ready()  {
        //load images using backstretch plugin to center them
        $("#sliderContainer").backstretch([
            "../../Content/images/woman_2045.jpg",
            "../../Content/images/man_2045.jpg",
            "../../Content/images/arms_2045.jpg"	  
        ], {
            fade: 750,
        });

        var texts = [
        "Some text for Slide 1",
        "Some text for Slide 2",
        "Some text for Slide 3"
        ];

    $(window).on("backstretch.show", function (e, instance) {
      $(".sliderOverlay").text( texts[instance.index] );
    });
    };
    </script> 