@{
    ViewBag.Title = "Methodology";
}

<link href="~/Content/css/About/termsprivacy.css?v=@ViewBag.AppVersion" rel="stylesheet" />
<link href="~/Content/css/About/methodology.css?v=@ViewBag.AppVersion" rel="stylesheet" />

<div class="pageContainer aboutContainer">
    <div class="container">
        <h2>CareerThesaurus Methodology</h2>

        <h3>Origins</h3>
        <p>Our approach and methodology to Career Assessment has been developed largely with the fundamental assumption of existence of unconscious typology. Which is based on research and works of Carl Jung.</p>

        <h3>Problem</h3>
        <p>Carl Jung proposed the existence of two fundamental psychological types:  the Introvert and the Extrovert, which are at the core of our methodology.</p>
        <p>However, Carl Jung’s theory also allowed degrees of type classification, in that one can be less or more introverted or extroverted. We felt that there was a weak spot in Carl Jung’s theory that needed further refinement.  We knew that additional dichotomies were needed to resolve conflicts in personality classification specifically for the purposes of Career Assessment.  </p>       

        <h3>So what did we do about that?</h3>      
        <p>We mapped values from the polarities coined by Carl Jung to over 700 professions classified by the department of labor and identified those occupations where 4 of the dichotomies were not sufficient enough to be classified unambiguously. The 16 buckets that were formed, contained professions which needed further segregation.  </p>
        <p>By analyzing the pools of professions that did not belong together we were able to develop additional professional attributes, which further refine the results. </p>
        <p>After we came up with a long list of additional attributes, we formed additional dichotomies. We then tested their ability to divide each pool in half (for normal distribution). When the dichotomy could divide the list in half it became more valuable. We then took away the dichotomies that had very little value and were left with the final 9:</p>

        <table>
            <tr>
                <td class="valueTitle">Social Attitude</td>
                <td>Extrovert</td>
                <td>Introvert</td>
            </tr>
            <tr>
                <td class="valueTitle">Information Sources</td>
                <td>Facts</td>
                <td>Imagination</td>
            </tr>
            <tr>
                <td class="valueTitle">Reaction</td>
                <td>Rational</td>
                <td>Emotional</td>
            </tr>
            <tr>
                <td class="valueTitle">Action Orientation</td>
                <td>Process</td>
                <td>Result</td>
            </tr>
            <tr>
                <td class="valueTitle">Mobility</td>
                <td>Stationary</td>
                <td>Mobile</td>
            </tr>
            <tr>
                <td class="valueTitle">Presence</td>
                <td>Present</td>
                <td>Remote</td>
            </tr>
            <tr>
                <td class="valueTitle">Concentration</td>
                <td>Focused</td>
                <td>Relaxed</td>
            </tr>
            <tr>
                <td class="valueTitle">Patterns</td>
                <td>Discovery</td>
                <td>Routine</td>
            </tr>
            <tr>
                <td class="valueTitle">Compensation</td>
                <td>Fixed</td>
                <td>Variable</td>
            </tr>
        </table>

        <p>With the above 9 pairs of Preferences, we now had 512 possible Professional Profiles that we could map to occupations based on predominant traits that an occupation might display.  </p>

        <h3>For example: </h3>
        <p>Fund Raisers could be better off being Extroverted, Fact seekers might make good Detectives, and Artists might benefit from using their Imagination. Actors could win Oscars if they were more Emotional. Home Inspectors might be more effective if they were Process oriented. Air Traffic Controllers shouldn’t mind staying seated for a while and a Real Estate agent should expect a Variable salary. </p>
        <p>It was important to recognize that many professions would belong to both sides of the spectrum, when either an Extrovert or an Introvert might be successfully employed in a profession.  Such instances carried dichotomies that were left blank.</p>

        <h3>Administering the test</h3>
        <p>We looked everywhere and we realized that most Career Assessments are really just trying to perform Magic Tricks.</p>
        <p>They ask clever questions like:  “Are you always on time?”, or “If you see a bird, what color does that make you think of?”...  Okay, that might work for psychotherapists that are trying to uncover hidden desires, but why do we need to guess?</p>
        <p>Why not just ask the questions directly? In the workplace, do you prefer a lot of interaction with people or do you like to work alone?  Do you mind an unpredictable (potentially higher, or not) income, or do you need a stable salary?</p>
        <p>This clear direct language along with Distinct Illustrations really help us get accurate answers without guessing.</p>


        <h3>Refinement process</h3>

        <p>Personality mapping is such a complex subject that we can never be 100% accurate, that’s why it is important to be flexible.</p>
        <p>We have worked and interviewed Occupational Psychologists.  We picked their brains and asked them how they would do it, and their favorite answer was:  “It would take years.  We would first need to assess and place subjects in their careers, then years later, ask them if they were happy”.</p>
        <p>But is there at least something we can do now to improve our mappings?</p>
        <p>Absolutely! We continuously interview and survey people across different Career Tracks in different industries.  Systematic gathering of such feedback is an important element to the successful formula of accurate results.</p>

        <h3>Interactive Nature</h3>
        <p>CareerThesaurus is not a box full of tricks and gimmicks, it is an interactive tool which helps you filter out the “noise” when considering different career options. When you change your preferences in the results, our system lets you see which careers appear or drop out as you make the changes.</p>
        <p>Dynamic interaction doesn’t stop there, users can sort and group their results by relevance, salary, popularity, educational requirements, industry fields, training and average salary.</p>
        <p>On average, a test taker can get exposed to 27 Career Tracks.  The interactive nature of the site, can further assist in narrowing down the list to just a few options.</p>

        <h3> How to reach out to us</h3>
        <p>If you have any questions, comments or ideas, you are welcome to email us at info@careerthesaurus.com.</p>
    </div>
</div>

<script>
    function document_ready() {

    }
</script>