@{
    ViewBag.Title = "Privacy Policy";
}


<div class="pagecontent rounded10" style="margin: 0 auto; background-color: rgba(255,255,255,0.1); text-align: center; padding: 10px;">
    
    <!--BROWSE CAREERS BY BRANCH-->
    <div style="text-align: left; width: 880px; margin: 0 auto; background-color: #fff; padding: 10px 40px 40px 40px;">
    
    
<div class=WordSection1 style="padding: 0 40px 0 0;">

<p class=MsoNormal style='margin-bottom:10.0pt;mso-line-height-alt:10.5pt'><b><span
style='font-size:12.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SkillCow.com Privacy Policy</span></b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:10.0pt;line-height:10.5pt'><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Revised and updated on
March 26, 2013</span></b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:black;mso-themecolor:text1'><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:10.0pt;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Should you have any
questions or concerns regarding SkillCow’s information handling practices or
its Privacy Policy, you may contact us at the address below:<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;line-height:normal'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman"'>77 Water Street,<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;line-height:normal'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman"'>8<sup>th</sup> floor<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;line-height:normal'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman"'>New York, NY 10005<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;line-height:normal'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman"'>info@skillcow.com<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:10.0pt;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:10.0pt;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SkillCow.com (“SkillCow”)
respects your privacy as a user.&nbsp; This Privacy Policy has been created to
provide you with the insight into how SkillCow may use the information which
you the User provide.&nbsp; In this Privacy Policy you will learn about the
types of information we collect, how we may use it and who else this
information might be shared with.&nbsp; By using SkillCow’s web site or any of
the services provided by SkillCow you agree to be bound by the separate
then-current Terms and Conditions found on SkillCow’s web site, as well agree
with SkillCow’s practices on &nbsp;handling the information stated
herein.&nbsp;&nbsp;<b>IF YOU DO NOT AGREE WITH ANY TERMS OR CONDITIONS FOUND IN
THE TERMS AND CONDITIONS AGREEMENT OR IF YOU DO NOT AGREE WITH SKILLCOW’S
PRIVACY POLICY, YOU AGREE TO CEASE THE USE OF THE WEB SITE AND SERVICES OF
SKILLCOW.&nbsp;</b>&nbsp;&nbsp;We therefore urge you to read both documents
carefully before commencing the use of the web site and or services of
SkillCow.&nbsp;<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>1.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>TYPES OF INFORMATION WE
COLLECT<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Personally Identifiable
information.&nbsp;</span></b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;SkillCow
may collect and store personal information about you upon <b style='mso-bidi-font-weight:
normal'>using our services</b>. &nbsp;Personally Identifiable information can
be classified as information such as your name, email, mailing address, phone
number which can be used to identify you as a person and contact you. We may,
at times, collect additional information. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>b.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Non-identifying
information.</span></b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;
SkillCow may also collect non-identifying information about you, such as your
gender, age, as well as education and career related preferences.&nbsp; This
information can be used by SkillCow to optimize and enhance your user
experience and generated results. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>c.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Synthetic data.</span></b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp; Synthetic data is
created for data anonymization purposes and protects the confidentiality and
privacy of the user. It is used to test and optimize the algorithms on our
website in order to optimize and enhance your user experience. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>2.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SOURCES OF INFORMATION<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Other websites.&nbsp;</span></b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;SkillCow may collect
information about you provided by other websites such as Facebook when you sign
up using your Facebook account.&nbsp;<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>b.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Your Browser.</span></b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp; When you visit our
web site, we may collect information from your browser such as your IP address,
language, regional settings, browser type.&nbsp; SkillCow utilizes Google
Analytics to collect most of such information for tracking and usage statistics
in order to optimize our service, user targeting and user experience. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>c.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>You.</span></b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp; You the User may
provide us with both Personally Identifiable and Non-personally identifiable
information during the use of our service.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>3.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>COOKIES<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SkillCow cookies.&nbsp;</span></b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;SkillCow may at times
place cookies on your computer, which help us track your usage of our web site,
store test results and search preferences, in order to enhance and optimize
your user experience.&nbsp; Your browser probably accepts cookies automatically
but you may disable this behavior, however SkillCow does not guarantee that our
web site will work correctly with cookies or JavaScript disabled.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>b.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Third Party cookies.</span></b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp; SkillCow may at
times place third party advertisements or affiliate banners or widgets on our
website, which may or may not place their own cookies on your computer, which
helps them deliver targeted advertisements and track their effectiveness.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>4.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>USE OF COLLECTED
INFORMATION ABOUT YOU<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SkillCow will use your
information to conduct our business, communicate with you, deliver personalized
service, perform analytics and run statistics, obtain feedback on our service,
address issues with our site, business, or service, and enforce terms and
conditions as well as provide information, if required by law to law
enforcement agencies in order to ensure safety for all users.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>b. SkillCow may share
personally identifiable and non-identifiable information with our partners (The
CollegeBound Network Inc., FindTheRightJob, and ChainDate Inc.). We do not sell
information; our business model is split between a small number of businesses
which are experts in their respective field. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>c. You may receive offers
and promotions from SkillCow’s business partners. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color#333;mso-themecolor:text1'>d. If you are a resident of
California, you can opt-out of the disclosure of personally identifiable
information to third parties. In order to Opt-Out or to unsubscribe from receiving any email communication from SkillCow, 
visit </span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman"'>skillcow.com/unsubscribe<i style='mso-bidi-font-style:normal'><span
style='color#333;mso-themecolor:text1'><o:p></o:p></span></i></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>5.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>LINKS<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SkillCow may place links or
advertisements from third party web sites or business partners.&nbsp; SkillCow
may share your non-identifiable information with such partners and affiliates
to help them achieve better targeting of advertising.&nbsp; These third parties
operate and are governed by their own respective terms and conditions, rules
and regulations as required by their respective jurisdiction and enforce their
own Privacy Policies and do not comply with those rules and regulations or
privacy policy of SkillCow.&nbsp; Should you choose to conduct business with
said third parties, you should read and accept those parties’ own policies.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>6.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>YOUR CONTROL OVER YOUR
INFORMATION<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>Throughout your use of SkillCow
you will have access to your published content and/or career assessment
results, and will be free to change and modify content made available for
modification by SkillCow. The content deemed mutable by SkillCow will be such that
would not disrupt SkillCow’s integrity or violate the terms and conditions
governing your use.&nbsp; SkillCow reserves the right to prevent certain content
from being changed after you have published it on our website.<span
style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>b.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>You may delete your published
content at any time.&nbsp; This will prevent your published information from
being found or viewed by others on SkillCow’s website.&nbsp; However, some
information may remain on our servers even after you disable or delete your
account.&nbsp; This is required to maintain database integrity, usage
statistics, as well as providing auditing capabilities if required by the law
enforcement agencies.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>c.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>When you transact business
with third parties or business partners which you may link to through SkillCow,
your information which may be collected by those third parties directly may
remain on their respective servers and databases even after you discontinue use
of SkillCow services. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>d. We may retain
information stored through cookies for 365 days or more, even after you
discontinue use of our website, for purposes of usage statistic and enhancement
of user experience in the future. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>7.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>YOUR CONTROL OVER THE USE
OF YOUR INFORMATION<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>There is a certain required
minimum of information that we collect before you are allowed to publish
content on our website. This information is necessary for the use of our
services, including but not limited to job and education posting. SkillCow does
not allow you to opt-out of such information. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>b. You have the right to
opt-out of offers, promotions, or contact from SkillCow, third-parties or
business partners post contact, by replying with an opt-out request. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>8.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>INFORMATION SECURITY<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SkillCow’s information
protection practices.</span></b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
mso-fareast-font-family:"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;
SkillCow is committed to providing the safest online experience and safekeeping
of our users’ data.&nbsp; It is in our best interest to do so.&nbsp; However,
while it is our priority to protect all data and information that we collect
and maintain in our database, we cannot give 100% guarantee that your
information will always be safe from hacker’s, intruder’s or losses due to
breakdowns, theft and failures due to the vulnerabilities of various hardware
and software technologies, viruses, worms, Trojan horses, network failures
etc.&nbsp; You should always be aware of this while transacting business on the
internet and should always be on guard for identity theft.&nbsp;<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>9.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>PROTECTION OF MINORS<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SkillCow’s terms of use
require all users to be at least eighteen (18) years of age and we do not
knowingly collect information from minors or anyone below that age.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>10.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>NO THIRD PARTY BENEFITS<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.1in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>This Privacy Policy does
not grant any third party any benefits or rights of use of your information
directly.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:0in;margin-bottom:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>11.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>CHANGES AND REVISIONS<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;
margin-left:.1in;text-indent:0in;line-height:10.5pt'><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>a.</span><span
style='font-size:7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:10.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-themecolor:text1'>SkillCow reserves the right
to revise and modify this Privacy Policy at its own discretion at any
time.&nbsp; The newly revised Privacy Policy will be placed on our web site
with the updated revision date.&nbsp; We encourage you to check the Privacy
Revision date often and stay up to date on any changes.<o:p></o:p></span></p>

<p class=MsoNormal><span style='color:black;mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

</div>


</div>
</div>
