@{
    ViewBag.Title = "Thank You";
}
<!--========================Sign up. Thank you.========================================-->
<link href="~/Content/css/Assessment/assessment.css?v=@ViewBag.AppVersion" rel="Stylesheet" />

<div class="pageContainer blueBackground" id="thankyouRegisterPage">

    <div class="container">
        <div class="centerBox">
            <div class="row">
                <h1>Thank you for registering with CareerThesaurus.com!</h1>
                <p>Email with a confirmation link was sent to you. Please check your inbox, including your spam folder, to complete your verification process.</p>
            </div>
        </div>
    </div>
</div>

<script>
    function document_ready() {

    }
</script>