/*--================================= HOME PAGE CSS ============================== */

#underNavSearch {
    display:none;
}

/* STATIC FULL SCREEN IMAGE FOR FRONT PAGE
-------------------------------------------------- */

#frontpageImage {
    height: 100%;
    width:100%;   
    position: relative;
}


#frontpageimageContent {
    position: absolute;
    top:0;
    left:0;   
    height:100%;
    width:100%;
}

#frontpageimageContent h1 {
    position: absolute;
    top: 45%;
    color: #fff;
    left: 10%;
    font-size: 50px;
    background-color: #000;
    margin: 0 10px;
}

#frontpageimageContent h2 {
    position: absolute;
    top: 65%;
    color: #000;
    left: 30%;
    font-size: 40px;
    background-color: #fff;
    padding:0;
    margin: 0 10px;
}


/* FIND A JOB SECTION
-------------------------------------------------- */

/*override padding and remove from top*/
#findjobSection {
    text-align: center;
}

/*input boxes and button*/
#findjobForm  div {
    padding: 15px;
}


/*div that contains Search button*/
#findjobForm div:nth-child(3) {
    text-align: left; 
}

@media (max-width: 768px) {
    /*center div that contains Search button on resize*/
    #findjobForm div:nth-child(3) {
        text-align: center; 
    }
}

.keywordsDiv {
    text-align: center;  
}



/*COUNTER SECTION
-------------------------------------------------- */	
#counterDiv h2 
{
    color: #ffffff;
}

.parallax { 
    z-index: 0;
    background-color: transparent;
}
		
/* BG Overlay Grid  */
		
.parallax-overlay {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-image: url(/Content/images/dot_pattern.png);
    background-repeat: repeat;
    background-color: rgba(19,150,165, 0.6);
}

    
/* BG Image */
		
.full-bg-image {
position: absolute;
z-index: -1;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-position: 50% 50%;
background-repeat: repeat;		
}
			
.no-touch .full-bg-image { 
background-attachment: fixed;
background-size: cover;
}

.ie .full-bg-image {
    background-attachment: scroll;
}
			
		
.parallax-bg-2 .full-bg-image  {
background-image: url(/Content/images/hex/hex_bg.jpg); 
}

/* -------------------------------------------------- */
/* Counter Box
/* -------------------------------------------------- */			

.counter-box  
{
text-align: center; 
}

.counter {
display: inline-block;
margin: 0 20px;
width: 150px;
text-align: center;
font-size: 0;
}

.counter .count {
margin-bottom: 20px;
height: 150px;
border: 1px solid #c8c8c8;
display: block;
background-color: rgb(255,255,255);
background-color: rgba(255,255,255,0.7);
color: #FF7D5C;
font-weight: 300;
font-size: 40px;
font-family: 'Roboto Condensed', sans-serif;
line-height: 145px;
-webkit-border-radius: 6px;
border-radius: 6px;		
}

.counter .details {
color: #777;
font-family: 'Roboto Condensed', sans-serif;
}
				
.parallax .counter .details {
color: #fff; 
}

/* BLOG SECTION
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
#blogSection {
padding-left: 15px;
padding-right: 15px;
padding-bottom: 0;
background-color: #e5ded6;
}

/* Center align the text within the three columns */
#blogSection .col-lg-4 {
text-align: center;
}

#blogSection .col-lg-4 p {
margin-left: 10px;
margin-right: 10px;
font-size: 18px;
}

#blogSection .btn-success {
margin: 20px 20px 40px;   
}


/* BROWSE CAREERS SECTION
-------------------------------------------------- */
#careersSection {
padding-bottom: 0;   
}

#careersSection img {
display: inline;
width:100%;
}

#careersSection .row{
text-align: center;
margin:0 auto;   
}

#careersSection .col-lg-2, .col-md-3, .col-sm-4, .col-xs-6 {
padding: 0;  
}

#careersSection h3 {
text-transform: uppercase;  
padding-top:5%; 
font-size: 26px;
}

#viewmoreOverlay {
background-color: rgb(0,0,0);
position: absolute;
top:0;
left:0;
width:100%;
height: 100%;
font-size: 20px;
color: #fff; 
z-index: 100;
margin: 0 auto;
/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;
/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;
/* W3C */
display:box;
box-pack:center;
box-align:center;
text-align:center;
cursor:pointer;
}


.no-touch #viewmoreOverlay:hover {
background-color: rgb(56, 54, 54);
}

/*last div*/
#viewmoreOverlay h3 {
font-size: 16px !important;
padding: 0;
margin:0;
color: #fff;
vertical-align: middle;
position:absolute;
top:45%;
text-align:center;
background-color: transparent;
}

#viewmoreOverlay .glyphicon {
padding-left:10px;   
}

/* SEARCH SECTION
-------------------------------------------------- */

.parallax-bg-1 .full-bg-image  {
background-image: url(/Content/images/hex/hex_bg16.jpg); 
/*background-attachment: fixed;
background-size: cover;*/
}

#searchSection {
height:500px;   
text-align:center;
}

#searchSection .btn, #searchSection .form-control {
margin-top: 15px;   
}

#searchSection .container {
margin-top: 100px;   
}


/*hide one row of images when they get to 4 per row*/
@media only screen 
and (max-width : 1200px) {
    #careersSection .row div:nth-child(10), #careersSection .row div:nth-child(9), #careersSection .row div:nth-child(8), #careersSection .row div:nth-child(7) {
    display: none;
    }
} 

/*hide one row of images when they get to 3 per row*/
@media only screen 
and (max-width : 992px) {
    #careersSection .row div:nth-child(6), #careersSection .row div:nth-child(5) {
    display: none;
    }

    #frontpageimageContent h1 {
        font-size: 42px;
    }

    #frontpageimageContent h2 {
        font-size:36px;   
    }

} 


@media only screen 
and (max-width : 768px) {
    #careersSection .row div:nth-child(4), #careersSection .row div:nth-child(3) {
    display: none;
    }

    #frontpageimageContent h1 {
        font-size:33px;
        top:auto;
        bottom:20%;
        padding:0 10px;
        background-color:#fff;
        color:#000;
    }

    #frontpageimageContent h2 {
        top:auto;
        bottom: 5%;
        left:4%;
        font-size: 27px;
        text-align: right;
        padding: 0 10px;
    }

}


@media only screen 
and (max-width : 500px) {

    #frontpageimageContent h1 {
        font-size:30px;
    }

    #frontpageimageContent h2 {
        font-size: 24px;
    }

}


